@media only screen and (max-width: 719px){
    body{
        font-family: var(--tipografia-general);
        display: flex;
        flex-direction: column;
        margin: 5px;
        color: var(--color-blanco);
        background-image: url('fondo.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

    }
    input[type="button"], [type="submit"]{
        cursor:pointer;
    }
    .grid__up{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-principal-menosfuerte);
        align-items: center;
        border-radius: 10px;
    }
    .agregar__mobile{
        font-size: 50px;
        cursor: pointer;
    }
    .agregar__mobile:hover{
        color: var(--color-principal-claro);
    }
    .editor{
        top: 0;
        left: 0;
        position: fixed;
        background-color: var(--color-principal-fuerte);
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100vh;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        display: none;
    }
    .editor__general{
        margin:5px;
        height: 40px;
        width: auto;
        border-radius: 5px;
        border: none;
    }
    .editor__p{
        font-size: 25px;
    }
    .editor__input{
        background-color: var(--color-principal-menosfuerte);
        color: var(--color-blanco);
        padding: 5px;
    }
    .editor__input:focus{
        background-color: var(--color-principal-fuerte);
        outline:none;
        outline:1px solid var(--color-principal-claro);
    }
    .editor__p{
        text-align: center;
    }
    .editor-btn:hover{
        background-color: rgb(109, 108, 108);
    }
    .editor__btn-cancelar{
        background-color: rgb(211, 79, 79);
        color: #fff;
        
    }
    .editor__btn-cancelar:hover{
        background-color: rgb(214, 101, 101);
    }
    /* Agregamos estilos a las tareas ya hechas por la clase MyTask */
    .div{
        background-color: var(--color-principal-fuerte);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        border-radius: 5px;
        margin: 3px;
    } 
    .div__texto{
        margin-right: auto;
    }   
    .btn__tarea svg{
        width: 25px;
        height: 25px;
        margin: 10px 20px 0 0;
        transition: .2s;
    }
    .btn__tarea svg:hover{
    color: var(--color-principal-claro);
    }
    .editar__div{
        background-color: rgba(0, 0, 0, 0.63);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
    }
    .editar__btn{
        background-color: var(--color-blanco);
        border: none;
        width: 210px;
        height: 30px;
        margin: 20px;
        border-radius: 10px;
    }
    .editar__input-texto{
        width: 200px;
        height: 30px;
        margin: 10px;
        border-radius: 10px;
    }
    .editar__input-descripcion{
        width: 200px;
        height: 30px;
        margin: 10px;
        border-radius: 10px;
    
    }
    .btn__tarea svg{
        width: 25px;
        height: 25px;
        margin: 10px 20px 0 0;
        transition: .2s;
    }
}
